
body{
  text-align: left;
  font-size: 40px;
  font-family: Tahoma;
  white-space: nowrap;
}

span{
  display: inline-block;
  height: 150px;
  width: 90px;
  background-color: #eeeff2;
  border-left: 10px dotted #D0D0FF;
  margin-right: 10px;
  padding-left: 10px;


}

span:hover{
  background-image: linear-gradient(to right, purple, grey);
  color: goldenrod;  
  cursor: pointer;
}


.style3{
  position: fixed;
  right: 0;
  bottom: 0;
  height: 200px;
  width: 200px;
  background-color: #CD7FD2;
  animation-name: change-color;
  animation-duration: 5s;
}

@keyframes change-color{
  0%  {background-color: #A37FD2}
  20% {background-color: #7F98D2}
  40% {background-color: #7FD2B5}
  60% {background-color: #87D27F}
  80% {background-color: #D2CE7F}
 100% {background-color: #D27F7F}
}